<h1>Booking History</h1>

<app-tabbed-pane>
  <app-tab title="Upcoming Flights">
    <p>No upcoming flights!</p>
  </app-tab>

  <app-tab title="Operated Flights">
    <p>No operated flights!</p>
  </app-tab>

  <app-tab title="Cancelled Flights">
    <p>No cancelled flights!</p>
  </app-tab>
</app-tabbed-pane>

<button (appClickWithWarning)="deleteAll()" #cww="clickWithWarning">
  Delete All!
</button>

<br /><br />

<button (click)="cww.handleClick(true)">
  Delete without asking questions!
</button>

<br /><br />

<input [appTooltip]="tmpl" />

<ng-template #tmpl let-title let-body="text">
  <h4>{{ title }}</h4>
  <p>
    {{ body }}
  </p>
</ng-template>

<br /><br />

<app-data-table [data]="flights">
  <div *appTableField="let data; as: 'id'">{{ data }}</div>
  <div *appTableField="let data; as: 'from'">{{ data }}</div>
  <div *appTableField="let data; as: 'to'">{{ data }}</div>
  <div *appTableField="let data; as: 'date'">
    {{ data | date : "dd.MM.yyyy HH:mm" }}
  </div>
</app-data-table>
