<div class="header">
  <h2 class="title">Flight Search</h2>
</div>

<form>
  <div class="form-group">
    <label>From:</label>
    <input [(ngModel)]="from" name="from" class="form-control" />
  </div>
  <div class="form-group">
    <label>To:</label>
    <input [(ngModel)]="to" name="to" class="form-control" />
  </div>

  <div class="form-group">
    <button (click)="search()" class="btn btn-default">Search</button>
  </div>
</form>

@if (flights.length > 0) {
  <table class="table table-condensed">
      <tr>
        <th>Id</th>
        <th>From</th>
        <th>To</th>
        <th>Date</th>
        <th></th>
      </tr>
      @for (f of flights; track f.id) {
        <tr [class.selected]="f === selectedFlight">
          <td>{{ f.id }}</td>
          <td>{{ f.from }}</td>
          <td>{{ f.to }}</td>
          <td>{{ f.date | date: "dd.MM.yyyy" }}</td>
          <td>
            <a (click)="select(f)">Select</a>
          </td>
        </tr>
      }
  </table>
}

<p>&nbsp;</p>

@if (selectedFlight) {
  <div>
    <pre>{{ selectedFlight | json }}</pre>
  </div>
}
