<div class="p40">
  <h2>Flight Edit (Reactive)</h2>

  @if (!form.controls.from.valid) {
  <div class="alert alert-danger">
    {{ form.controls.from.errors | json }}
  </div>
  }

  <app-validation-errors
    [errors]="form.errors ?? {}"
    field="flight"
  ></app-validation-errors>

  @if (form.controls['from'].pending) {
  <div class="alert alert-info">Validating ...</div>
  }

  <form [formGroup]="form">
    <input formControlName="id" />
    <input formControlName="from" />
    <input formControlName="to" />
    <input formControlName="date" />
    <input formControlName="delayed" type="checkbox" />
  </form>

  <div>
    <button (click)="save()" class="btn btn-default">Save</button>
    <button (click)="close()" class="btn btn-secondary">Close</button>
  </div>
</div>
