<div class="p40">
  <h2>Flight Edit</h2>

  <form #form="ngForm">
    <app-validation-errors
      [errors]="form?.controls?.['from']?.errors ?? {}"
      field="from"
    ></app-validation-errors>

    <div>
      <input name="id" [(ngModel)]="flight.id" />
      <input name="from" [(ngModel)]="flight.from" required minlength="3" />
      <input name="to" [(ngModel)]="flight.to" />
      <input name="date" [(ngModel)]="flight.date" />
    </div>

    <div>
      <input
        name="delayed"
        id="delayed"
        [(ngModel)]="flight.delayed"
        type="checkbox"
      />
      <label for="delayed">Delayed</label>
    </div>

    <div>
      <button (click)="close()" class="btn btn-default">Close</button>
    </div>
  </form>
</div>
