<div [ngClass]="{ selected: selected() }" class="card">
  <div class="card-header">
    <h2 class="title">
      {{ item().from | city: "short" }} - {{ item().to | city: "long" }}
    </h2>
  </div>

  <div class="card-body">
    <p>Flight-No.: #{{ item().id }}</p>
    <p>Date: {{ item().date | date: "dd.MM.yyyy HH:mm" }}</p>
    <p [ngStyle]="{ color: item().delayed }">Delayed: {{ item().delayed }}</p>
    <p>
      @if (!selected) {
        <button (click)="select()" class="btn btn-default">Select</button>
      } @else {
        <button (click)="deselect()" class="btn btn-default">Remove</button>
      }
    </p>
  </div>
</div>

{{ blink() }}
