@let itemValue = item;

<div [ngClass]="{ selected: selected }" class="card">
  <div class="card-header">
    <h2 class="title">
      {{ itemValue.from | city : "short" }} - {{ itemValue.to | city : "long" }}
    </h2>
  </div>

  <div class="card-body">
    <p>Flight-No.: #{{ itemValue.id }}</p>
    <p>Date: {{ itemValue.date | date : "dd.MM.yyyy HH:mm" }}</p>

    <ng-content select=".middle"></ng-content>

    <p>
      Delayed:
      <app-status-toggle [(status)]="itemValue.delayed"> </app-status-toggle>
    </p>
    <p>
      @if (!selected) {
      <button (click)="select()" class="btn btn-default">Select</button>
      } @else {
      <button (click)="deselect()" class="btn btn-default">Remove</button>
      }

      <button (click)="edit()" class="btn btn-default">Edit</button>
    </p>
    <ng-content select=".bottom"></ng-content>
  </div>
</div>
