<div>
  <h2>Flight Edit</h2>

  <form>
    <div class="form-group">
      <input [control]="editForm.id" />
    </div>
    <div class="form-group">
      <input [control]="editForm.from" />
      <p class="form-info">
        Allowed Cities: {{ fromAllowedCities()?.join(', ') }}
      </p>
      @for (error of editForm.from().errors(); track error.kind) {
        @switch (error.kind) {
          @case ('required') {
            <p class="form-error">This field is mandatory.</p>
          }
          @default {
            <p class="form-error">{{ error.message }}</p>
          }
        }
      }
    </div>
    <div class="form-group">
      <input [control]="editForm.to" />
      <p class="form-info">
        Allowed Cities: {{ toAllowedCities()?.join(', ') }}
      </p>
      @for (error of editForm.to().errors(); track error.kind) {
        @switch (error.kind) {
          @case ('required') {
            <p class="form-error">This field is mandatory.</p>
          }
          @default {
            <p class="form-error">{{ error.message }}</p>
          }
        }
      }
    </div>
    <div class="form-group">
      <input [control]="editForm.date" />
    </div>

    <div class="form-group">
      <input id="delayed" [control]="editForm.delayed" type="checkbox" />
      <label for="delayed">Delayed</label>
    </div>

    <div class="form-group">
      <button (click)="flightResource.reload()" class="btn btn-default">
        Reload
      </button>
      <button
        (click)="save()"
        [disabled]="!editForm().valid()"
        class="btn btn-default"
      >
        Save
      </button>
    </div>
  </form>
</div>
