@if (flight().id !== 0) {
<div>
  <h2>Flight Edit</h2>

  <pre>{{ flightForm().errorSummary() | json }} </pre>
  <form>
    <div>
      <input name="id" [control]="flightForm.id" />
      <input name="from" [control]="flightForm.from" />
      <input name="to" [control]="flightForm.to" />
      <input name="date" [control]="flightForm.date" appDateCva />
    </div>

    <div>
      <input
        name="delayed"
        id="delayed"
        [control]="flightForm.delayed"
        type="checkbox"
      />
      <label for="delayed">Delayed</label>
    </div>
    <button type="button" class="btn btn-default" (click)="saveFlight()">
      Save
    </button>
  </form>
</div>
}
