form {
  margin: 20px 0;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 98%;
  font-size: 16px;
}

input[type='checkbox'] {
  transform: scale(1.5);
  margin-right: 10px;
  width: inherit;
}

label {
  display: inline-block;
}

.form-info {
  font-size: 10px;
  color: blue;
  margin: 5px 0 0 5px;
}

.form-error {
  font-size: 10px;
  color: red;
  margin: 5px 0 0 5px;
}

a {
  text-decoration: none;
}
