<div class="form-group">
  <label for="filterSelect">Previous Filters:</label>
  <select [formControl]="selectedFilter" class="form-control" id="filterSelect">
    <option *ngFor="let filter of selectFilters()" [ngValue]="filter">
      {{ filter.from }} - {{ filter.to }}
    </option>
  </select>
</div>

<form [formGroup]="filterForm">
  <div class="form-group">
    <label>From:</label>
    <input formControlName="from" class="form-control" />
  </div>
  <div class="form-group">
    <label>To:</label>
    <input formControlName="to" class="form-control" />
  </div>
  <div class="form-group">
    <label>
      <input formControlName="urgent" type="checkbox" />
      Urgent (When it's urgent it fails -- like in real life ;-))
    </label>
  </div>

  <div class="form-group">
    <button
      (click)="triggerSearch()"
      [disabled]="!filterForm.valid"
      class="btn btn-default"
    >
      Search
    </button>

    <ng-content select=".flight-filter-button"></ng-content>
    <ng-content select=".flight-filter-info"></ng-content>
  </div>
</form>
