<h2>Checkin Luggage</h2>

<div class="row">
  <div
    *ngFor="let item of luggage"
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3"
  >
    <app-luggage-card [luggageItem]="item"></app-luggage-card>
  </div>
</div>

<!-- <table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Weight</th>
    <th>Checked in</th>
    <th>Remarks</th>
  </tr>
  <tr *ngFor="let item of luggage">
    <td>{{ item.id }}</td>
    <td>{{ item.weight }}</td>
    <td>{{ item.checkedIn }}</td>
    <td>{{ item.remarks }}</td>
  </tr>
</table> -->
