<div class="header">
  <h2 class="title">Flight Search</h2>
</div>

<form [formRoot]="searchForm">
  <div class="form-group">
    <label for="from">From:</label>
    <input [formField]="searchForm.from" class="form-control" />

    @for(error of searchForm.from().errors(); track error) {
    <p>{{ error.message }}</p>
    }
  </div>

  @if (!searchForm.to().hidden()) {
  <div class="form-group">
    <label for="to">To:</label>
    <input [formField]="searchForm.to" class="form-control" />

    @for(error of searchForm.to().errors(); track error) {
    <p>{{ error.message }}</p>
    }
  </div>
  }

  <div class="form-group">
    <button
      type="submit"
      class="btn btn-default"
      [disabled]="searchForm().invalid()"
    >
      Search
    </button>
    <button (click)="delay()" class="btn btn-default">Delay</button>
    <button (click)="flightStore.reload()" class="btn btn-default">
      Reload
    </button>
    <button (click)="reverse()" class="btn btn-default">Reverse Search</button>
  </div>
</form>
<button (click)="handleClick()">Mache Event</button>

<p>{{ prettySearch() }}</p>

<p>Gefundene Flüge: {{ flightsCount() }}</p>
<p>Status: {{ flights.status() }}</p>

@if (flights.hasValue()) {
<div class="row">
  @for (flight of flights.value(); track flight.id) {
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <app-flight-card [item]="flight" [(selected)]="basket[flight.id]">
      <p class="middle"><i>Delays are possible!</i></p>
      <p class="bottom"><small>Statement without guarantee!</small></p>
    </app-flight-card>
  </div>
  }
</div>
} @else if (flights.isLoading()) {
<p>Lade...</p>
} @else if(flights.error()) {
<p>Fehler aufgetreten: {{ flights.error() | json }}</p>
}

<p>&nbsp;</p>

<div>
  <pre>{{ basket | json }}</pre>
</div>
