.selected {
  background-color: moccasin;
}

a {
  cursor: pointer;
}

.status {
  text-decoration: underline;
  color: navy;
}

.status:hover {
  text-decoration: underline;
  color: darkgoldenrod;
}
